name: Latest Brunch Posts

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull in Brunch posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://brunch.co.kr/rss/@@95BE" 
          max_post_count: 5 
          time_zone: "Asia/Seoul"
