name: Latest Blog Posts

on:
  push:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://brunch.co.kr/rss/@@jiwonleeqa"
          max_post_count: 5
          comment_tag_name: "BLOG-POST-LIST"
          template: "$newline - [$title]($url) - $date"
